<nav class="navbar navbar-expand-lg bg-danger navbar-dark sticky-top shadow">
    <div class="container-fluid">
        <div class="container-fluid text-center d-flex flex-row flex wrap  align-items-center">
            <a class="navbar-brand" href="/recentactivity/">
                <img src="https://pngimg.com/uploads/pokeball/pokeball_PNG21.png" alt="Poke Ball" width="50px"
                     height="50px">
            </a>
            <div class="container-fluid ">
                <div class="navbar-text text-center text-white h2 h6-xl pt-3">PowerPoke</div>
            </div>
            <button class="navbar-toggler mt-xl-3" type="button" data-bs-toggle="collapse"
                    data-bs-target=".collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container-fluid collapse navbar-collapse collapsibleNavbar">
                <ul class="navbar-nav container">
                    <li class="nav-item">
                        <a class="nav-link {{#if homepage}}active{{/if}}" href="/">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if pokebuilder}}active{{/if}}" href="/pokebuilder/">PokeBuilder
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if teambuilder}}active{{/if}}" href="/teambuilder/">Team Builder
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="d-flex navbar-nav container collapsibleNavbar">
                        <li class="nav-item">
                            <a class="nav-link {{#if login}}active{{/if}}" href="/login">Account
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
