<nav class="navbar navbar-expand-lg bg-danger col-12 mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="container-fluid d-flex justify-content-evenly align-items-center flex-nowrap">
        <a class="navbar-brand" href="#"><img src="https://pngimg.com/uploads/pokeball/pokeball_PNG21.png"
                                              alt="Master Ball" width="50px" height="50px"></a>

            <div class="container d-flex justify-content-start align-items-center">
                <h2 class="text-light m-0 p-0">PowerPoke</h2>

            </div>


            <div class="container d-flex justify-content-start align-items-center">
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pokebuilder/">PokeBuilder</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/teambuilder/">Team Builder</a>
                        </li>
                    </ul>
                </div>
            </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </div>
</nav>
