<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <link rel='stylesheet' href='/bw/slate/bootstrap.css' />
      <link rel='stylesheet' href='/bw/zephyr/bootstrap.css' />
  </head>
  <body class="p-0 m-0">
  {{> navbar}}
  <div class="container-fluid p-0 m-0 border-0">
    {{{body}}}
  </div>
  </body>
</html>
