<div class="container d-flex flex-column flex-lg-row justify-content-lg-between mt-5">
    <div class="container mt-3 bg-danger text-center rounded-4 py-2">
        <h2 class="p-0 m-0 pb-3 pt-2 text-light">Recent Activity</h2>
        <!-- inner base container -->
        <div class="container-fluid mb-1 d-flex flex-column justify-content-around align-content-center mb-1 bg-body-secondary
    rounded mb-0">
            <div class="pt-4 d-flex flex-column justify-content-center">
                <div class="mb-4 d-flex flex-wrap justify-content-center align-items-center p-4 bg-light rounded-5">
                    <div class="border border-danger-subtle border-2 d-flex align-items-center p-3 bg-danger rounded-5 bg-danger-subtle">
                        <div class="p-3 px-4 rounded-5 bg-danger-subtle border border-2 border-danger-subtle">
                            <span class="my-5 fw-bold text-dark-emphasis fs-5">1</span>
                        </div>
                    </div>
                    <div class="mx-5">
                        <p class="m-0" id="recActItem1">Recent Activity Item</p>
                    </div>
                </div>
                <div class="mb-4 d-flex flex-wrap justify-content-center align-items-center p-4 bg-light rounded-5">
                    <div class="border border-danger-subtle border-2 d-flex align-items-center p-3 bg-danger rounded-5 bg-danger-subtle">
                        <div class="p-3 px-4 rounded-5 bg-danger-subtle border border-2 border-danger-subtle">
                            <span class="my-5 fw-bold text-dark-emphasis fs-5">2</span>
                        </div>
                    </div>
                    <div class="mx-5">
                        <p class="m-0" id="recActItem2">Recent Activity Item</p>
                    </div>
                </div>
                <div class="mb-4 d-flex flex-wrap justify-content-center align-items-center p-4 bg-light rounded-5">
                    <div class="border border-danger-subtle border-2 d-flex align-items-center p-3 bg-danger rounded-5 bg-danger-subtle">
                        <div class="p-3 px-4 rounded-5 bg-danger-subtle border border-2 border-danger-subtle">
                            <span class="my-5 fw-bold text-dark-emphasis fs-5">3</span>
                        </div>
                    </div>
                    <div class="mx-5">
                        <p class="m-0" id="recActItem3">Recent Activity Item</p>
                    </div>
                </div>
                <div class="mb-4 d-flex flex-wrap justify-content-center align-items-center p-4 bg-light rounded-5">
                    <div class="border border-danger-subtle border-2 d-flex align-items-center p-3 bg-danger rounded-5 bg-danger-subtle">
                        <div class="p-3 px-4 rounded-5 bg-danger-subtle border border-2 border-danger-subtle">
                            <span class="my-5 fw-bold text-dark-emphasis fs-5">4</span>
                        </div>
                    </div>
                    <div class="mx-5">
                        <p class="m-0" id="recActItem4">Recent Activity Item</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
